
@mixin standard($background: var(--color-accent-red), $color: var(--color-primary) ) {
    background-color: $background;
    color: $color;
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: var(--font-size-4);
    font-family: var(--font-serif);
    border: 0;
    cursor: pointer;
    transform: skew(-10deg);
}

@mixin accent($background: var(--color-accent-blue), $color: var(--color-primary) ) {
    background-color: $background;
    color: $color;
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: var(--font-size-4);
    font-family: var(--font-serif);
    border: 0;
    cursor: pointer;
    transform: skew(-10deg);
}