@use '../tools/variables';

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;

    background-color: var(--color-secondary); //temp
}

img {
    max-width: 100%;
}