@use '../components/buttons';

.hero{
    width: 100vw;
    height: 100vh;
    background-image: url("assets/images/hero-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: var(--grid-container);
    
    

    &__inner{
       grid-column: inner;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: var(--grid-content);

        .hero__content{
            grid-column: 1/8;
            margin-top: 260px;
            
            .hero__text{
                color: var(--color-primary);
                font-size: 100px;
            }

            .button{
                @include buttons.standard();
                margin-right: 1rem;
            }

            .button-accent{
                @include buttons.accent();
            }
        }

        .hero__footer{
            grid-column: 1/13;
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-self: last baseline;
            margin-bottom: 1rem;
            
            .read-more{
                width: 80px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                span{
                    font-family: var(--font-serif);
                    font-size: var(--font-size-2);
                    color: var(--color-primary);
                }
            }

           
            .socials{
                display: flex;
                list-style: none;

                .facebook{
                    margin-right: 1rem;
                }
            }
        }
    }
}